body {
  background-color: rgb(232, 220, 186);
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
